h1 {
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#searchButton {
  margin-top: 15px;
  margin-bottom: 15px;
}
